<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Lunch Scraper - Sean Davey</title>

    <link href="{{ url_for('static', filename='assets/img/lunch.jpg') }}" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet"/>

</head>
<body>
<!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <p class="navbar-brand">
                <a href="{{ url_for('index_route') }}"><img class="social_icon" src="{{ url_for('static', filename='assets/img/lunch.jpg') }}"/></a>

                <a style="color:white" href="{{ url_for('index_route') }}">Home{% block city %}{% endblock %}</a>
            <button aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a aria-current="page" class="nav-link active" href="{{ url_for('index_route') }}">Sean Davey 2023</a></li>
                    <a href="https://www.linkedin.com/in/rh-sean-davey/"><img class="social_icon" src="{{ url_for('static', filename='assets/img/linkedin.jpg') }}"/></a>
                    <a href="https://github.com/RH-sdavey"><img class="social_icon" src="{{ url_for('static', filename='assets/img/github.jpg') }}"/></a>
                </ul>
            </div>
        </div>
    </nav>
<!-- Page Content-->
    {% block pageheader %}{% endblock %}
    {% block pagecontent %}{% endblock %}


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

</body>
</html>
