{% extends 'base.html' %}

  {% block city %} / <a style="color:white" href="{{ url_for('city_route', city=city.name) }}">{{ city.name | capitalize }} </a>{% endblock %}

    <!-- Heading Row-->
  {% block pageheader %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5 imagebox">
            <div class="col-lg-6">
              <img alt="..." class="img-fluid rounded mb-4 mb-lg-0" src="/static/assets/img/{{ city.name }}.jpg"/>
            </div>
            <div class="col-lg-4">
              <span class="imagebox-desc col-lg-4">
                  <h1 class="font-weight-light">{{ city.name | capitalize }}</h1>
                  <p>{{ city.description }}</p>
                  <p>{{ scraped_totals[0] }} districts scraped</p>
                  <p>{{ scraped_totals[1] }} restaurants scraped</p>
              </span>
            </div>
        </div>
    </div>
    {% endblock %}


  {% block pagecontent %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
        <!-- Restaurant Filter-->
            <div class="col-md-8 mb-8" >
                <input type="text" id="myFilter" class="col-md-12 mb-12" onkeyup="myFunction()" placeholder="Search for restaurant name or choose a district of {{ city.name | capitalize }} over there --->"/>
            </div>
            <div class="list-group district-list col-md-4 mb-4" style="margin-top:-0.1rem">
            {% for district in city.districts -%}
                <a href="{{ url_for('district_route', city=city.name, district=district.name) }}" class="list-group-item list-group-item-action list-group-item-dark">{{ district.name | capitalize }}</a>
            {% endfor %}
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5" id="restaurant_cards">
            {% for district in city.districts -%}
            {% for restaurant in district.restaurants %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{ restaurant.public_name | capitalize }}</h2>
                        <p class="card-text">{{ restaurant.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm"
                           href="{{ url_for('restaurant_route', city=city.name, district=district.name, restaurant=restaurant.name) }}">Go To {{ restaurant.public_name }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>


    <script>

    </script>
  {% endblock %}