{% extends 'base.html' %}

    {% block city %}
        <a style="color:white" href="{{ url_for('city_route', city=city) }}"> / {{ city | capitalize }}</a>
        <a style="color:white" href="{{ url_for('district_route', city=city, district=district) }}"> / {{ district | capitalize }}</a>
        <a style="color:white" href="{{ url_for('restaurant_route', city=city, district=district, restaurant=restaurant_data.name) }}"> / {{ restaurant_data.name | capitalize }}</a>
    {% endblock %}

    <!-- Heading Row-->
  {% block pageheader %}
    <div class="container px-5 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5 imagebox">
            <div class="col-lg-7">
              <img alt="..." class="img-fluid rounded mb-4 mb-lg-0" src="https://picsum.photos/900/400"/>
            </div>
            <div class="col-lg-4">
              <span class="imagebox-desc col-lg-5">
                  <h1 class="font-weight-light">{{ restaurant_data.public_name }}</h1>
                  <a href="{{ restaurant_data.url }}">{{ restaurant_data.url }}</a>
                  <p>{{ restaurant_data.description }}</p>
              </span>
            </div>
        </div>
    </div>
    {% endblock %}


  {% block pagecontent %}
    <div
      class="d-flex align-items-center justify-content-center" style="width: 80%; height:100%; margin-left:10rem;">
        {{ daily_menu | safe }}
    </div>
  {% endblock %}