{% extends 'base.html' %}

    {% block city %}
        <a style="color:white" href="{{ url_for('city_route', city=city) }}"> / {{ city | capitalize }}</a>
        <a style="color:white" href="{{ url_for('district_route', city=city, district=district) }}"> / {{ district | capitalize }}</a>
        <a style="color:white" href="{{ url_for('restaurant_route', city=city, district=district, restaurant=restaurant) }}"> / {{ restaurant| capitalize }}</a>
    {% endblock %}

    <!-- Heading Row-->
  {% block pageheader %}
    <div class="container px-5 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5 imagebox">
            <div class="col-lg-7">
              <img alt="..." class="img-fluid rounded mb-4 mb-lg-0" src="https://picsum.photos/900/400"/>
            </div>
            <div class="col-lg-4">
              <span class="imagebox-desc col-lg-5"><h1 class="font-weight-light">{{ restaurant | capitalize }}</h1>
                  <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it
                    makes a great use of the standard Bootstrap core components. Feel free to use this template for any
                    project you want!</p>
              </span>
            </div>
        </div>
    </div>
    {% endblock %}


  {% block pagecontent %}
    {% for item in daily_menu %}
        {{ item  | replace(",", "<br/>") | safe }}
    {% endfor %}
  {% endblock %}